@charset 'utf-8';

// @import 'node_modules/foundation-sites/scss/settings/settings';
@import 'foundation-sites/scss/foundation';
//@import 'foundation-sites/foundation';

// Include the foundation-everything mixin, with the flex grid:
@include foundation-everything();

// Include everything, with the old non flex grid (flex = false)
// @include foundation-everything(false);

// Uncomment this to _also_ include the old grid with the flex grid:
@include foundation-grid;

//@import 'motion-ui';

#app {
    @extend .grid-container;
} 

.mainMenuRow {
    @extend .grid-x;
    @extend .grid-margin-x;
}

.mainMenuItem {
    @extend .small-3;
    @extend .cell;
    @extend .callout;
}

.mainMenuItem.current {
    @extend .callout.primary;
}

.mainRow {
    @extend .grid-x;
    @extend .grid-margin-x;
}

.bottomRow {
    @extend .grid-x;
    @extend .grid-margin-x;
}

.left {
    @extend .small-12;
    @extend .medium-3;
    @extend .large-2;
    @extend .cell;
    @extend .callout;
}

.svgView {
    @extend .small-12;
    @extend .medium-6;
    @extend .large-8;
    @extend .cell;
    @extend .callout;
}

.svgView svg {
    width: 100%;
    height: 400px; // TODO: Responsive height somehow..
}

.right {
    @extend .small-12;
    @extend .medium-3;
    @extend .large-2;
    @extend .cell;
    @extend .callout;
}

.testCell {
    @extend .small-3;
    @extend .cell;
    @extend .callout;
}

$grid-columns: 13+12+25+12+13;
$xy-block-grid-max: 1;
$grid-column-gutter: 1px;
$grid-margin-gutters: 1px;

.relativeNotesRow {
    @extend .grid-x;
    @extend .relative-notes-grid;
    margin-left: -150% !important;
    margin-right: -150% !important;
}

@for $i from 1 through (1 + 12 * 2) {
    .relativeNotesPadding-#{$i} {
        @extend .small-#{$i};
        @extend .cell;
        transition-property: width;
        transition-duration: 0.33s;
    }
}

.noteCell {
    @extend .small-1;
    @extend .cell;
    @extend .callout;
    transition-property: background-color;
    transition-duration: 0.1s;
}

.noteCell.current {
    @extend .callout.primary;
}

@include xy-margin-grid-classes(left right, false, '.relative-notes-grid')
  
