@charset 'utf-8';

// @import 'node_modules/foundation-sites/scss/settings/settings';
@import 'foundation-sites/scss/foundation';
//@import 'foundation-sites/foundation';

// Include the foundation-everything mixin, with the flex grid:
@include foundation-everything();

// Include everything, with the old non flex grid (flex = false)
// @include foundation-everything(false);

// Uncomment this to _also_ include the old grid with the flex grid:
@include foundation-grid;

//@import 'motion-ui';

#app {
    @extend .grid-container;
} 

.mainMenuRow {
    @extend .grid-x;
    @extend .grid-margin-x;
}

.mainMenuItem {
    @extend .small-3;
    @extend .cell;
    @extend .callout;
}

.mainMenuItem.current {
    @extend .callout.primary;
}

.mainRow {
    @extend .grid-x;
    @extend .grid-margin-x;
}

.bottomRow {
    @extend .grid-x;
    @extend .grid-margin-x;
}

.left {
    @extend .small-12;
    @extend .medium-3;
    @extend .large-2;
    @extend .cell;
    @extend .callout;
}

.svgView {
    @extend .small-12;
    @extend .medium-6;
    @extend .large-8;
    @extend .cell;
    @extend .callout;
}

.svgView svg {
    width: 100%;
    height: 400px; // TODO: Responsive height somehow..
}

.right {
    @extend .small-12;
    @extend .medium-3;
    @extend .large-2;
    @extend .cell;
    @extend .callout;
}

.testCell {
    @extend .small-3;
    @extend .cell;
    @extend .callout;
}

// 25 items in visible part: 12 + 12 + 1 (1 extra C to be able to jump full octave)
// 12 extra items on both ends for scrolling buffer
// when starting to scroll the extra items at the shrinking end are replaced
// with a padding element with animated width

$grid-columns: 12+12+12+1+12;
$xy-block-grid-max: 1;
$grid-column-gutter: 1px;
$grid-margin-gutters: 1px;

// https://stackoverflow.com/a/52685817/1148030
// Also see the meta viewport in index.html
body {
    touch-action: none;
}

// Clipping wrapper to get the mobile browser feel that it
// does not need to enable extra scrolling to show the 
// overflowing infinite scroll "buffer" elements.
.infiniteSlider {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// replaces 0 or 12 items on left end when animation starts
.infiniteSliderAnimationPadding {
    @extend .small-12;
    @extend .cell;
    margin: 0 !important;
}

.relativeNotesRow {
    @extend .grid-x;
    @extend .relative-notes-grid;
    //margin-left: -45% !important;
    //margin-right: -45% !important;
}

@media screen and (max-width: 1080px) {
  .relativeNotesRow {
    margin-left: -80% !important;
    margin-right: -80% !important;
  }
}

@media screen and (max-width: 800px) {
  .relativeNotesRow {
    margin-left: -120% !important;
    margin-right: -120% !important;
  }
}

@media screen and (max-width: 660px) {
  .relativeNotesRow {
    margin-left: -150% !important;
    margin-right: -150% !important;
  }
}

@media screen and (max-width: 550px) {
  .relativeNotesRow {
    margin-left: -200% !important;
    margin-right: -200% !important;
  }
}

.noteCell {
    @extend .small-1;
    @extend .cell;
    @extend .callout;
    transition-property: background-color;
    transition-duration: 3s;
}

.noteCell.current {
    background-color: #dd2785;
    transition-property: background-color;
    transition-duration: 0.1s;
}

@include xy-margin-grid-classes(left right, false, '.relative-notes-grid')
  
